.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("images/dawq-min.jpg");
}

.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-group-1 {
  min-height: 286px;
  margin-top: 646px;
  margin-bottom: 60px;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
  animation-duration: 1000ms;
}

.u-section-1 .u-container-layout-1 {
  padding: 50px 30px 30px;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  text-shadow: 2px 2px 8px rgba(128,128,128,1);
  font-family: Barrio;
  font-weight: normal;
  margin: -163px 0 0;
}

.u-section-1 .u-text-2 {
  font-style: italic;
  font-family: "Architects Daughter";
  font-size: 3rem;
  font-weight: normal;
  margin: 44px -8px 0 8px;
}

.u-section-1 .u-text-3 {
  font-style: italic;
  font-family: "Antic Didone";
  margin: 30px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    margin-top: 673px;
    margin-bottom: 58px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
    width: auto;
    margin-top: -129px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 23px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 43px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    min-height: 270px;
    width: 688px;
    margin: 666px auto 60px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    margin-top: -66px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 16px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 16px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1118px;
  }

  .u-section-1 .u-group-1 {
    min-height: 205px;
    margin-top: 774px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -132px;
    margin-right: -10px;
    margin-left: 10px;
  }

  .u-section-1 .u-text-2 {
    margin-right: -10px;
    margin-left: 10px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 10px;
    margin-right: -10px;
    margin-left: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    background-position: 52.7% 42.45%;
    background-size: auto 130%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 780px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 442px;
    min-height: 227px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 18px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
    margin-top: 21px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 11px;
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 539px;
}

.u-section-2 .u-text-1 {
  width: 740px;
  font-family: "Abril Fatface";
  margin: 60px auto 0;
}

.u-section-2 .u-list-1 {
  min-height: 315px;
  grid-gap: 10px 10px;
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-template-rows: auto;
  margin-top: 30px;
  margin-bottom: 60px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-2 .u-text-2 {
  margin: 30px 0 0;
}

.u-section-2 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-2 .u-text-4 {
  margin: 30px 0 0;
}

.u-section-2 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-icon-3 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-2 .u-text-6 {
  margin: 30px 0 0;
}

.u-section-2 .u-text-7 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 484px;
  }

  .u-section-2 .u-list-1 {
    min-height: 259px;
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 820px;
  }

  .u-section-2 .u-text-1 {
    width: 720px;
  }

  .u-section-2 .u-list-1 {
    min-height: 595px;
    grid-template-columns: repeat(2, calc(50% - 5.0000025px));
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    width: 540px;
  }

  .u-section-2 .u-list-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    width: 340px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 670px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-family: "Architects Daughter";
  font-size: 3.75rem;
  margin: 52px 410px 0 446px;
}

.u-section-3 .u-list-1 {
  width: 996px;
  min-height: 409px;
  grid-gap: 10px 10px;
  grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  grid-template-rows: auto auto;
  margin: 53px auto 60px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-image-1 {
  width: 133px;
  height: 133px;
  background-image: url("images/dc81ebcf9512fbe3b9cce1c436c7cdaa2c036b9f7cc58c4e68a316ff2cf23d11f35b85a395af3f3ed00fa49bd6c8a3d6375496ae179e3cdb63ebdf_1280.jpg");
  background-position: 50% 50%;
  animation-duration: 1000ms;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-2 {
  margin: -132px 0 0 168px;
}

.u-section-3 .u-text-3 {
  margin: 20px 0 0 168px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-image-2 {
  width: 133px;
  height: 133px;
  background-image: url("images/photo_2021-03-17_21-38-50.jpg");
  background-position: 50% 50%;
  animation-duration: 1000ms;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-4 {
  margin: -132px 0 0 168px;
}

.u-section-3 .u-btn-1 {
  padding: 0;
}

.u-section-3 .u-text-5 {
  margin: 20px 0 0 168px;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-image-3 {
  width: 133px;
  height: 133px;
  background-image: url("images/38747046-0.png");
  background-position: 50% 50%;
  animation-duration: 1000ms;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-6 {
  margin: -132px 0 0 168px;
}

.u-section-3 .u-text-7 {
  margin: 20px 0 0 168px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 599px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 346px;
    margin-right: 310px;
  }

  .u-section-3 .u-list-1 {
    width: 940px;
    min-height: 338px;
    grid-template-columns: repeat(2, calc(50% - 5px));
    height: auto;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: -133px;
    margin-left: 166px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-left: 166px;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-top: -133px;
    margin-left: 166px;
  }

  .u-section-3 .u-text-5 {
    width: auto;
    margin-left: 166px;
  }

  .u-section-3 .u-text-6 {
    width: auto;
    margin-top: -133px;
    margin-left: 166px;
  }

  .u-section-3 .u-text-7 {
    width: auto;
    margin-left: 166px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-left: 236px;
    margin-right: 200px;
  }

  .u-section-3 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-image-1 {
    width: 126px;
    height: 126px;
  }

  .u-section-3 .u-text-2 {
    margin-top: -126px;
    margin-left: 154px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 154px;
  }

  .u-section-3 .u-image-2 {
    width: 126px;
    height: 126px;
  }

  .u-section-3 .u-text-4 {
    margin-top: -126px;
    margin-left: 154px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 154px;
  }

  .u-section-3 .u-image-3 {
    width: 126px;
    height: 126px;
  }

  .u-section-3 .u-text-6 {
    margin-top: -126px;
    margin-left: 154px;
  }

  .u-section-3 .u-text-7 {
    margin-left: 154px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    margin-left: 146px;
    margin-right: 110px;
  }

  .u-section-3 .u-list-1 {
    grid-template-columns: repeat(1, calc(100% - 0px));
    width: 454px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 160px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 160px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 160px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 160px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-6 {
    margin-left: 160px;
  }

  .u-section-3 .u-text-7 {
    margin-left: 160px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    margin-left: 46px;
    margin-right: 10px;
    font-size: 2.25rem;
  }

  .u-section-3 .u-list-1 {
    grid-template-columns: 100%;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-2 {
    margin-left: 156px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 156px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 156px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 156px;
  }

  .u-section-3 .u-text-6 {
    margin-left: 156px;
  }

  .u-section-3 .u-text-7 {
    margin-left: 156px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 121px;
}

.u-section-4 .u-text-1 {
  margin: 50px 432px 50px 472px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    margin-left: 372px;
    margin-right: 332px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    margin-left: 262px;
    margin-right: 222px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    margin-left: 172px;
    margin-right: 132px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    margin-left: 72px;
    margin-right: 32px;
  }
}